.terraform**
terraform.tf**
userdata.tpl
windows-ssh-config.tpl
outputs.tf.txt
random.txt
secrets.tfvars.txt
variables.tf
old_userdata.txt
Terraform/set_up*
Terraform/tear_*
to-do.txt
.gitignore
ec2.txt
deprecated
venv